.container
    h1 Users
    .row
        table.table-striped.table-bordered.span12
            thead
                tr
                    th Name
                    th
                    th
            tbody.user-container
            each user in users
                tr
                    td= user.name
                    td 
                        a(href='/user/edit/#{user.id}') Edit
                    td 
                        a(href='/user/remove/#{user.id}') Remove
    .row
        a.span12(href='/user/create') Create User