.container
    form(method='delete', action='/user')
        input(type='hidden', name='id', value='#{user.id}')
        .row
            .span3 &nbsp;
            .span6.page-header.confirm Are you sure you want to remove #{user.name}?
            .span3
        .row
            .span3 &nbsp;
            .span6.form-actions
                button.btn.btn-warning Yes
                | 
                a.btn(href='/user') No
            .span3