!!! 5
html
    head
        title Hello, World!!!
    body
        form(method='post', action='/home/index')
            - if (post)
              | Hello, #{name}!!!
            - else
              input(type='text', name='name')
              input(type='submit', value='Submit')