.container
    form(method='post', action='/home/remove')
        input(type='hidden', name='id', value='#{user._id}')
        .row
            .span3 &nbsp;
            .span6.page-header.confirm Are you sure you want to remove #{user.name}?
            .span3
        .row
            .span3 &nbsp;
            .span6.form-actions
                button.btn.btn-warning Yes
                | 
                a.btn(href='/home/index') No
            .span3