!!! 5
html
    head
        title Remove User?
        link(rel='stylesheet/less', href='/bootstrap/less/bootstrap.less')
        link(rel='stylesheet', type='text/css', href='/css/main.css')
        script(src='/js/less.min.js')
    body
        div.container
            form.form-vertical(method='post', action='/home/remove')
                input(type='hidden', name='id', value='#{user._id}')
                .row
                    .span3 &nbsp;
                    .confirm.span6 Are you sure you want to remove #{user.name}?
                    .span3
                .row
                    .span3 &nbsp;
                    .span6.form-actions
                        button.btn.btn-warning Yes
                        | 
                        a.btn(href='/home/index') No
                    .span3